.jumbotron {
    background-color: #f28419;
    padding-bottom: 0px;
    color: #f7f7f7;
}

.jumbotron h1 {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: white;
}

.image {
    padding: 0px ;
}

footer {
    background-color: #f28419;
    padding: 0px 12px;
}


