{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenu %}
    <div class="container">
        <p><h2> Formulaire inscription </h2></p>
        <div class="row">
            <form action="{% url "inscription_confirmation" %}" method="post">
                <div class="col-md-4">
                    <p><h3><span class="fa fa-user"></span> Données personnelles </h3></p>
                    {% csrf_token %}
                    {{ formulaire_inscription|crispy }}
                </div>
                <div class="col-md-4">
                    <p><h3><span class="fa fa-university"></span> Choix de programme</h3></p>
                    {{ formulaire_programme|crispy }}
                    <input class="btn btn-success" type="submit" value="Confirmez">
                </div>
            </form>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row">
            <p>

            </p>
        </div>
    </div>
{% endblock %}