{% load static %}

<!DOCTYPE html>
<html lang="en">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Site de travail">
        <meta name="author" content="Dominique">
        <link rel="icon" href="{% static 'univ/img/favicon.ico' %}">

        <title>univ</title>

        {# lien vers Bootstrap #}
        <link rel="stylesheet" href="{% static 'univ/bootstrap/css/bootstrap.min.css' %}">

        {# lien vers FontAwesome #}
        <link rel="stylesheet" href="{% static 'univ/font-awesome/css/font-awesome.min.css' %}">

        {# lien vers CSS personnalisé #}
        <link href="{% static 'univ/css/base.css' %}" rel="stylesheet">

