{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="site de test">
        <meta name="author" content="Dominique">
        <link rel="icon" href="{% static 'univ/img/favicon.ico' %}">

        <title>Univ</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static 'univ/bootstrap/css/bootstrap.min.css' %}">

        {# lien vers FontAwesome #}
        <link rel="stylesheet" href="{% static 'univ/font-awesome/css/font-awesome.min.css' %}">

        <!-- Custom styles for this template -->
        <link href="{% static 'univ/css/base.css' %}" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Université</a>
                    <a class="navbar-brand" href="{% url 'programmes' %}">Programmes</a>
                    <a class="navbar-brand" href="{% url 'inscriptions' %}">Inscriptions</a>
                </div>
                <div id="navbar" class="navbar-right">
                    <a class="navbar-brand" href="{% url 'admin:index' %}">Administration</a>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>

        <!-- Main jumbotron  -->
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>Université virtuelle</h1>
                        <p>Apprendre à partir de n'importe où, n'importe quand, à votre rythme</p>
                        <p>Un projet en Python, exclusivement!</p>
                        <p><a class="btn btn-success btn-lg" href="{% url 'accueil' %}" role="button">
                            <span class="fa fa-home pull-left"></span>Accueil &raquo;</a></p>
                    </div>
                    <div class="col-sm-4">
                        <div class="image">
                            <p><IMG SRC="{% static 'univ/img/univ.jpg' %}" ALT="Université" TITLE="Amphithéâtre"
                            height="200px" width="300px"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block contenu %}

        {% endblock %}
        <hr>
        {% include 'footer.html' %}
    </body>
</html>