{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenu %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-sm-3">
          <h2></h2>
            {% csrf_token %}
            {{ formulaire_etudiant|crispy }}
          <p><a class="btn btn-success" href="{% url 'accueil' %}" role="button">Allons-y ... &raquo;</a></p>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
      </div>
    </div>
{% endblock %}
