<div class="container">
    <div class="basdepage">
        <div class="row">
            <div class="col-sm-4">
                <h4>Informations</h4>
                <p><span class="glyphicon glyphicon-warning-sign"></span> Tout le contenu de ce site est protégé
                    par les droits d'auteur. Veuillez ne pas l'oublier!</p>
                <p><span class="fa fa-sitemap"></span> Le plan du site</p>
            </div>
            <div class="col-sm-2">
                <h4>Contact</h4>
                <p><span class="glyphicon glyphicon-earphone"></span> 418 997-7761</p>
                <p><span class="glyphicon glyphicon-envelope"></span> admin@tradom.ca</p>
                <p><span class="glyphicon glyphicon-home"></span> La belle province</p>
            </div>
            <div class="col-sm-2">
                <h4>Officiel</h4>
                <p><span class="glyphicon glyphicon-bookmark"></span> Utilisation du site</p>
                <p><span class="glyphicon glyphicon-book"></span> Licence</p>
                <p><span class="glyphicon glyphicon-list"></span> Légal</p>
            </div>
            <div class="col-sm-4">
                <h4>Administration</h4>
                <form name="form_coordonnees" action="{% url 'coordonnees' %}" method="post"> {% csrf_token %}
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Courriel"
                               name="adresse_courriel">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" placeholder="Mot de passe"
                               name="mot_de_passe">
                    </div>
                    <div class="input-group">
                        <button type="submit" class="btn btn-success">Inscrivez-vous</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; 2016 FORMAPRO, Qc - Tous droits réservés </p>
        </footer>
    </div>
</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/univ/bootstrap/js/jquery.min.js"></script>
    <script src="../static/univ/bootstrap/js/bootstrap.min.js"></script>