<div class="container">
    <div class="basdepage">
        <div class="row">
            <div class="col-lg-4">
                <h4>Informations</h4>
                <p><span class="glyphicon glyphicon-warning-sign"></span> Tout le contenu de ce site est protégé
                    par les droits d'auteur. Veuillez ne pas l'oublier!</p>
            </div>
            <div class="col-lg-2">
                <h4>Contact</h4>
                <p><span class="glyphicon glyphicon-earphone"></span> 418 997-7761</p>
                <p><span class="glyphicon glyphicon-envelope"></span> admin@tradom.ca</p>
                <p><span class="glyphicon glyphicon-home"></span> La belle province</p>
            </div>
            <div class="col-lg-2">
                <h4>Officiel</h4>
                <p><span class="glyphicon glyphicon-bookmark"></span> Utilisation du site</p>
                <p><span class="glyphicon glyphicon-book"></span> Licence</p>
                <p><span class="glyphicon glyphicon-list"></span> Légal</p>
            </div>
            <div class="col-lg-4">
                <h4>Administration</h4>
                <p>Les données d'administration de ce site ne sont pas accessibles aux personnes
                    non enregistrées. Veuillez demander votre enregistrement sur le site avant de tenter
                    d'acceder aux données d'administration.<br /> Merci</p>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; 2016 FORMAPRO, Qc - Tous droits réservés </p>
        </footer>
    </div>
</div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/univ/bootstrap/js/jquery.min.js"></script>
    <script src="../static/univ/bootstrap/js/bootstrap.min.js"></script>