
    <footer class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h3>Universités</h3>
                    <ul class="leftfloated block50">
                        <li><a href="#">Université Laval (Québec)</a></li>
                        <li><a href="#">Université de Montréal (Montréal)</a></li>
                        <li><a href="#">Université de Québec à Montréal (UQAM)</a></li>
                        <li><a href="#">Université de Sherbrooke (Sherbrooke)</a></li>
                        <li><a href="#">Université Concordia (Montréal)</a></li>
                        <li><a href="#">Université Bishop (Toronto)</a></li>
                        <li><a href="#">Téluq (formation à distance)</a></li>
                        <li><a href="#">Université du troisième âge (à distance)</a></li>
                        <li><a href="#">Université Simus Plan (USA)</a></li>
                        <li><a href="#">Université Virtuelle</a></li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h3>Ressources</h3>
                    <ul>
                        <li><a href="#">Communauté des développeurs</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Registraire</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Webinaires</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3>Univ</h3>
                    <ul>
                        <li><a href="#">Contactez-nous</a></li>
                        <li><a href="#">Partenaires</a></li>
                        <li><a href="#">Nos étudiants</a></li>
                        <li><a href="#">Témoignages</a></li>
                        <li><a href="#">Emplois</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3 class="contacts">Contacts</h3>
                    <ul class="nav-list-inline">
                        <li><a href="#">Inscription</a></li>
                        <li><a href="#">Donateurs</a></li>
                        <li><a href="mailto:admin@tradom.ca">Web maistre</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h3>Social</h3>
                    <ul class="social">
                        <li class="facebook" title="Facebook"><a href="#">Facebook</a></li>
                        <li class="gPlus" title="Google+"><a href="#">Google+</a></li>
                        <li class="in" title="LinkedIn"><a href="#">LinkedIn</a></li>
                        <li class="twitter" title="Twitter"><a href="#">Twitter</a></li>
                        <li class="youtube" title="YouTube"><a href="#">YouTube</a></li>
                        <li class="rss" title="Jetbrains RSS"><a href="#">JetBrains RSS</a></li>
                    </ul>
                </div>
            </div>
            <br class="clr"/>
            <div class="footer-main-bas">
                <div class="row">
                    <p>
                        &copy; 2016 FORMAPRO. Tous droits réservés.
                        Développé avec <a href="https://www.jetbrains.com/pycharm/">PyCharm</a>
                    </p>
                    <ul class="block30 nav-list-inline">
                        <li><a href="#">Vie privée</a></li>
                        <li><a href="#">Limites d'utilisation</a></li>
                    </ul>
                    <br class="clr"/>
                </div>
            </div>
        </div>
    </footer>