{% extends "base.html" %}
{% load static %}

{% block contenu %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="alert alert-info">
                    <p><h3><span class="glyphicon glyphicon-ok-sign"></span> Confirmation</h3></p>
                    <p>Votre inscription a bien été envoyée à l'administration</p>
                    <p>Vous recevrez une confirmation écrite par courriel à l'adresse que vous avez utilisée dans le formulaire</p>
                    <p>Nous vous souhaitons une bonne formation!</p>
                </div>
                <p><a class="btn btn-primary" href="{% url 'accueil' %}" role="button">Retour à l'accueil</a></p>
            </div>
            <div class="col-lg-4">
                <img src="{% static 'univ/img/inscription_confirmation.jpg' %}" alt="Inscription" height="300px" width="500px">
            </div>
        </div>
    </div>
{% endblock %}