{% extends 'base.html' %}

{% block contenu %}
    <div class="container">
        <p><h3> Formulaire inscription </h3></p>
        <div class="row">
            <div class="col-md-4">
                <p><h4>Données personnelles</h4></p>
                <form action="{% url "endev" %}" method="post">
                    {% csrf_token %}
                    {{ formulaire_inscription.as_p }}
                </form>
            </div>
            <div class="col-md-4">
                <h4>Sélectionnez un programme</h4>
                <form action="{% url "endev" %}" method="post">
                    {% csrf_token %}
                    {{ formulaire_programme }}
                </form>
            </div>
            <div class="col-md-4">
              <h4>Sélectionnez les cours</h4>
                <form action="{% url "endev" %}" method="post">
                    {% csrf_token %}
                    {{ formulaire_cours }}
                </form>

            </div>
        </div>
        <div class="row">
            <p>
                <a class="btn btn-danger" href="{% url 'inscription_confirmation' %}"
                  role="button">Confirmez votre demande d'inscription</a>
            </p>
        </div>
    </div>
{% endblock %}