{% extends 'base.html' %}

{% block contenu %}
    <div class="container">
        <p><h3> Formulaire inscription </h3></p>
        <div class="row">
            <div class="col-md-4">
                <p><h4>Données personnelles</h4></p>
                <form action="{% url "endev" %}" method="post">
                    {% csrf_token %}
                    {{ formulaire_inscription.as_p }}
                    <input type="submit" class="btn btn-success btn-block" value="Confirmez les informations">
                </form>
            </div>
            <div class="col-md-4">
                <h4>Sélectionnez un programme</h4>
                <form action="{% url "endev" %}" method="post">
                    {% csrf_token %}
                    {{ formulaire_programme }}
                    <input type="submit" class="btn btn-success btn-block" value="Confirmez le programme">
                </form>
            </div>
            <div class="col-md-4">
              <h4>Sélectionnez les cours</h4>
                <p><a class="btn btn-danger btn-block" href="{% url 'endev' %}" role="button">Confirmez les cours</a></p>
            </div>
        </div>
    </div>
{% endblock %}